.navbar{
    background: lightblue;
    font-size: 30px;
    font-weight: bold;
    font-family: 'Times New Roman', Times, serif;
    flex-wrap: wrap;
    margin: 10px;
    justify-content: center;
}

.btn-primary {
    background: lightgreen;
    border: none;
}

.searchbar{
    height: 100%;
}

.card {
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border: 50px;
    border-color: white;
    font-size: 14px;
    padding: 15px;
    display: inline-flex;
}  

.fiveDay{
    display: inline-block;
    width: auto;
    background-color: lightcoral;
    border: solid 3px black;
    border-radius: 10px;
    margin: 15px;
    padding: 15px;
}

.search-results {
    padding: 10px;
    border: solid 3px black;
    border-radius: 10px;
}